body {
    background-color: white;
    padding: 10px;
    font-family: Arial;
}

#navbar_logo {
    width: 100px
}

.navbar {
    font-family: Arial;
    font-size: larger;
}

.row {
    margin: 20px;
}

.card {
    height: auto;
    width: auto;
    font-family: arial;
}